// Base Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f1f1f1;
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
// Header / Navigaton styles
header {
  padding: 1.5rem;
  background-color: white;
  nav {
    .logo-container {
      width: 93px;
      height: 107px;
      background-color: white;
      box-shadow: 2px 2px 35px rgb(0 0 0 / 30%);
      position: fixed;
      top: 0;
      left: 5%;
    }
  }
}
// Page's Title
h1,
span {
  font-size: 5rem;
  line-height: 85px;
  text-align: center;
}
span {
  font-family: "Dekko", cursive;
  font-style: italic;
  color: #00a0d2;
}

// Main section styles
main {
  min-height: 80vh;
  padding-top: 6em;

  // Input styles
  .input-container {
    margin-top: 1rem;
    position: relative;
  }
  // Address Broadband icon styles
  .fa-house-signal {
    position: absolute;
    left: 20px;
    top: 22px;
    color: grey;
  }
  // Input text field for address styles
  input[type="text"] {
    font-size: 1.5rem;
    padding: 0.3rem 2rem;
    margin: 0.5rem;
    border: none;
    border-radius: 10px;
    border: 2px solid black;
  }
  // Submit btn styles
  .submit-btn {
    font-size: 1.5rem;
    background-color: transparent;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.3rem;
    cursor: pointer;
    transition: all 0.4s ease;
    &:hover {
      background-color: black;
      color: white;
    }
  }

  // Offer Container (panel) styles
  .offer-container {
    padding-top: 2rem;
    flex-wrap: wrap;

    // Individual Offer styles
    .offer {
      width: 300px;
      height: 300px;
      text-align: center;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 4px 8px 0 rgba(170, 168, 168, 0.2),
        0 6px 20px 0 rgba(201, 187, 187, 0.19);
      margin: 1rem;
      cursor: pointer;
      transition: box-shadow 0.4s ease;
      &:hover {
        box-shadow: 0 5px 10px 0 rgba(170, 168, 168, 0.8),
          0 12px 30px 0 rgba(201, 187, 187, 0.9);
      }

      // Offer's Name
      .offer-name {
        font-size: 2rem;
        line-height: 35px;
      }
      // Offer's Description
      .offer-description {
        font-family: "Dekko", cursive;
        font-size: 0.9rem;
        font-style: italic;
        color: grey;
      }
      .offer-name,
      .offer-description {
        margin-bottom: 1rem;
      }
      // Offer's Price
      .offer-price {
        font-size: 3rem;
        color: #00a0d2;
      }
      // Offer's Price Icon
      .fa-euro-sign {
        margin-right: 0.5rem;
        font-size: 2rem;
        color: #00a0d2;
      }
    }

    // Active Class
    .active-offer {
      border: 2px solid #00a0d2;
    }
  }
}
